.Login{
    text-align: center;
}

.Login label{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.Login input{
    width: 30vw;
    height: 4vh;
    font-size: 20px;
    color: red;
    border-radius: 7px;
    box-shadow: 0px 0px 3px 0px black;
}

.Login button {
    width: 8vw;
    height: 4vh;
    margin-top: 5vh;
    font-size: 2.5vh;
    box-shadow: 0px 0px 3px 0px black;
}