.Cards {
  margin-bottom: 5vh;
}

.card {
  width: 100%;
  height: 100%;
}

.img-character {
  width: 250px;
  height: 30vh;
}

.card-name {
  display: flex;
  align-items: center;
  height: 7vh;
  border-bottom: solid;
  border-right: solid;
  border-left: solid;
  border-color: red;
  margin-top: -4px;
}

.card-name h3 {
  font-size: 20px;
  margin-left: auto;
}

.cible {
  width: 6vh;
}
