.characterName span {
  font-size: 26px;
}

.imageAndDescription {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 26px;
}

.description {
  margin-left: 5em;
  margin-right: 5em;
}

.nameAndAge {
  width: 50vh;
  text-align: center;
}
