.head-navbar{
    display: flex;
    justify-content: space-between;
    background-color: #A1A1A1;
    height: 75px;
}

.title-hitman{
    height: 60%;
    width: 16%;
    font-size: 4vh;
    margin: 15px;
    background-color: #FA0000;
    text-align: center;
}

.logo-hitman{
    width: 18%;
    margin-left: 64%;
}

.account, .contact{
    width: 11%;
    height: 40%;
    font-size: 3vh;
    margin-top: 2%;
    text-align: center;
    text-decoration: none;
    color: black;
}

.discoAndProfil{
    display: flex;
    justify-content: space-between;
    width: 23vw;
    margin-top: 4vh;
    font-size: 3vh;
    text-decoration: none;
}

.buttonDisconnect{
    color: red;
    background: none;
    border: none;
    font-size: 2vh;
}
.buttonDisconnect:hover{
    background-color: #FA0000;
}

.discoAndProfil span{
    color: #FA0000;
}
.profil:hover{
    background-color: #FA0000;
}
.profil span:hover, .buttonDisconnect:hover {
    color: black;
}

.profil{
    margin-left: 2vw;
}

.account span, .contact span{
    color: #FA0000;
}  

.contact {
    margin-right: 5%;
}

.account:hover, .contact:hover{
    background-color: red;
}

.account span:hover, .contact span:hover{
    color: black;
}