.characters-and-misison{
    display: flex;
    margin-top: 4%;
    flex-direction: column;
}


.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
    width: 100%;
}

.button-container button{
    background-color: red;
    border: none;
    width: 17%;
    height: 36px;
    font-size: 23px;

}